.hero-section{
    display: grid;
    grid-template-columns: 1fr 1fr; /*2 by 1 fraction */
    padding: 85.333px 5%;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    background-color: var(--primary-bg);
    width: 90%; /* Use percentage for dynamic width */
    margin: 0 auto; /* Center the section horizontally */
}

.hero-section-content-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.hero-section-content{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 21.333px;
    justify-content: left;
}

.hero-section-content-box > button {
    margin-top: 1.333px;
}

.hero-section-title{
    color: var(--secondary-text);
    font-size: 600;
    font-weight: 700;
    line-height: 50px;
    align-self: stretch;
}

.hero-section-title-color{
    color: var(--main-text);
}

.hero-section-secondary-title-color{
    color: var(--main-text);
}

.hero-section-description{
    color: var(--secondary-text);
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}

.hero-section-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section-img > img{
    max-width: 100%;
    height: auto;
}

.hero-section-socials{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.hero-section-socials > a > img{
    width: 40px;
    height: 40px;
    transition: transform 0.2s ease;
}

.hero-section-socials > a > img:hover{
    cursor: pointer;
    transform: scale(1.1); /* Slightly enlarge icon on hover */
}

/* Media query for responsiveness on smaller screens */
@media (max-width: 768px) {
    .hero-section {
        grid-template-columns: 1fr; /* Stack content vertically on small screens */
        text-align: center;
    }

    .hero-section-content {
        align-items: center;
    }

    .hero-section-image {
        order: -1; /* Move image above content */
        margin-bottom: 20px; /* Add spacing */
    }
}