.portfolio-section{
    display: flex;
    padding-bottom: 83.333px;
    gap: 32px;
    background-color: var(--primary-bg);
    margin: auto;
    justify-content: center;
}

.portfolio-section-content-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.portfolio-section-heading{
    color: var(--secondary-text);
    font-size: 600;
    font-weight: 700;
    line-height: 50px;
    
}

.portfolio-section-heading-box{
    align-items: center;
}


.portfolio-section-container{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: flex-start;
    gap: 42.6px;
    width: 33%;
    flex-wrap: wrap;
}

.portfolio-section-img{
    border-radius: 8px;
    width: 100%;
}

.portfolio-section-img > img{
    width: 100%;
}

.portfolio-section-card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex: 1 0 0;
    background: var(--secondary-bg);
}